language: node_js
node_js:
- '8.4'
services:
  - rabbitmq
after_script: NODE_ENV=test babel src -s -d lib && PINGINTERVAL=1000 istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
